# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IDE
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.idea/
*.vscode/

# Misc
*.log
*.tmp
*~
